@import 'compass/css3';
@import 'include/footer';


body {
	background:#24282f;
	padding-top:50px;
	overflow:hidden;
}

.clear {
	clear:both;
}

.wrapper {
	width:1000px;
	margin:auto;
	position:relative;
}

.controls {
	position:absolute;
	top:188px;
	left:150px;
	margin:0;
	padding:0;
	font-size:14px;
	font-weight:200;

	li {
		list-style: none;
		margin:0;
		padding:0;
		margin-bottom:10px;
		border:1px solid rgba(41, 169, 219, 0.8);
		padding:15px 10px;
		text-align: center;
		color:#fff;
		cursor:pointer;
		@include border-radius(5px);
		@include border-radius(5px);
	}

	li.active {
		background:#ff004e;
		border-color: #ff004e;
		color:#fff;
		opacity: 0.6;
	}
}

.mainContainer {
	position:absolute;
	top:0;
	left:0;
	
}

ul.indicator {
	width:550px;
	margin:auto;
	margin-top:50px;

	li {
		list-style:none;
		border:1px solid rgb(41, 169, 219);
		width:20px;
		height:20px;
		float:left;
		cursor:pointer;
		margin-left:10%;
		margin-right:11%;
		@include border-radius(50%);
	}

	li.active {
		background:#29a9db;
		-webkit-box-shadow: inset 0px 0px 0px 2px rgba(0,0,0,0.75);
		-moz-box-shadow: inset 0px 0px 0px 2px rgba(0,0,0,0.75);
		box-shadow: inset 0px 0px 0px 2px rgba(0,0,0,0.75);
	}
}

ul.beatpad {
	width:550px;
	margin:auto;
	margin-top:30px;

	li {
		list-style:none;
		border:1px solid rgb(41, 169, 219);
		width:120px;
		height:120px;
		float:left;
		margin-right:10px;
		margin-bottom:10px;
		cursor:pointer;
		@include border-radius(20px);
	}

	li.active {
		background:#ff004e;
		border-color: #ff004e;
		opacity: 0.6;
	}

	li.active.flash {
		background:yellow !important;
		border-color:yellow;
	}

	li.end {
		margin-right:0;
	}
}
